{% extends 'registration/base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Услуги ЗАГСа</h2>
            <div class="d-flex flex-column align-items-center mt-3">
                <a href="{% url 'registration:birth_registration' %}" class="btn btn-primary btn-block w-25 mx-2 mb-2">Регистрация рождения детей</a>
                <a href="{% url 'registration:marriage_registration' %}" class="btn btn-primary btn-block w-25 mx-2 mb-2">Регистрация бракосочетаний</a>
                <a href="{% url 'registration:divorce_registration' %}" class="btn btn-primary btn-block w-25 mx-2 mb-2">Регистрация разводов</a>
                <a href="{% url 'registration:death_registration' %}" class="btn btn-primary btn-block w-25 mx-2 mb-2">Регистрация смертей</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}