{% extends 'registration/base.html' %}

{% block content %}
<div class="container">
    <h2>Регистрация бракосочетания</h2>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </form>

    <h2>Существующие записи о бракосочетаниях</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ФИО жениха</th>
                <th>Гражданство жениха</th>
                <th>Дата рождения жениха</th>
                <th>Место рождения жениха</th>
                <th>ФИО невесты</th>
                <th>Гражданство невесты</th>
                <th>Дата рождения невесты</th>
                <th>Место рождения невесты</th>
                <th>Новая фамилия жениха</th>
                <th>Новая фамилия невесты</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for marriage_registration in marriage_registrations %}
            <tr>
                <td>{{ marriage_registration.groom_name }}</td>
                <td>{{ marriage_registration.groom_citizenship }}</td>
                <td>{{ marriage_registration.groom_date_of_birth }}</td>
                <td>{{ marriage_registration.groom_place_of_birth }}</td>
                <td>{{ marriage_registration.bride_name }}</td>
                <td>{{ marriage_registration.bride_citizenship }}</td>
                <td>{{ marriage_registration.bride_date_of_birth }}</td>
                <td>{{ marriage_registration.bride_place_of_birth }}</td>
                <td>{{ marriage_registration.groom_new_surname }}</td>
                <td>{{ marriage_registration.bride_new_surname }}</td>
                <td>
                    <form method="post" action="{% url 'registration:delete_record' 'marriage' marriage_registration.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}